/* Estilos para el elemento con ID 'root' */
#root {
  max-width: 1280px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 2rem; /* Espaciado interno */
  text-align: center; /* Alineación del texto al centro */
}

/* Estilos para la clase 'logo' */
.logo {
  height: 6em; /* Altura del logotipo */
  padding: 1.5em; /* Espaciado interno del logotipo */
  will-change: filter; /* Indica al navegador que el logotipo cambiará */
  transition: filter 300ms; /* Transición suave para el cambio de filtro */
}

/* Estilos para el logotipo cuando se pasa el ratón por encima */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa); /* Sombra al pasar el ratón */
}

/* Estilos específicos para el logotipo de React cuando se pasa el ratón por encima */
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa); /* Sombra al pasar el ratón para el logotipo de React */
}

/* Animación para hacer girar el logotipo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg); /* Rotación inicial */
  }
  to {
    transform: rotate(360deg); /* Rotación completa */
  }
}

/* Media query para aplicar la animación solo si no se ha reducido el movimiento */
@media (prefers-reduced-motion: no-preference) {
  /* Selecciona el segundo enlace dentro de 'a' y aplica la animación al logotipo */
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear; /* Aplica la animación de giro */
  }
}

/* Estilos para la clase 'card' */
.card {
  padding: 2em; /* Espaciado interno de las tarjetas */
}

/* Estilos para el texto 'read-the-docs' */
.read-the-docs {
  color: #888; /* Color del texto */
}
