/* Importaciones de Tailwind CSS */
@tailwind base; /* Estilos base */
@tailwind components; /* Componentes predefinidos */
@tailwind utilities; /* Utilidades de estilo */

/* Estilos para el cuerpo del documento */
body {
	/* Fondo con degradado y imagen de fondo */
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.jpg");
	background-repeat: no-repeat; /* No repetir el fondo */
	background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
	background-position: center; /* Centrar la imagen */
}



  
/* Estilos para la barra de desplazamiento en navegadores WebKit (Chrome, Safari, etc.) */
/* Barra de desplazamiento oscura */
::-webkit-scrollbar {
	width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Estilos para la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
	background: #555; /* Color de fondo de la pista */
}

/* Estilos para el pulgar (scrollbar thumb) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
	background: #121212; /* Color del pulgar */
	border-radius: 5px; /* Radio de borde del pulgar */
}

/* Estilos para el pulgar de la barra de desplazamiento cuando se pasa el ratón por encima */
::-webkit-scrollbar-thumb:hover {
	background: #242424; /* Color del pulgar al pasar el ratón por encima */
}

/* Animación de sacudida horizontal */
/* Utiliza la clase .shake para aplicar la animación */
.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both; /* Animación */
	transform: translate3d(0, 0, 0); /* Transformación */
	backface-visibility: hidden; /* Visibilidad de la parte trasera */
	perspective: 1000px; /* Perspectiva */
}

/* Definición de la animación shake */
@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}
